<!-- use full url including 'index.html' for navigation bar if you are using ajax -->
<ul id="nav">
	<li id="ajax"><a href="{{ root_url }}/index.html">Hejmo</a></li>
	<li id="ajax"><a href="{{ root_url }}/pri-mi/">Pri mi</a></li>
	<li id="ajax"><a href="{{ root_url }}/blogo/arhivoj">Arĥivoj</a></li>
    <li><a href="{{ root_url }}/atom.xml">RSS</a></li>
    {% if site.simple_search %}
    <li>
    <div id="dark">
        <form method="get" action="{{ root_url }}/search.html" id="search">
            <input name="query" type="text" placeholder="Serĉi..." x-webkit-speech />
        </form>
    </div>
    </li>
    {% endif %}
</ul>
